*This notebook was run with Google Colab.*

In [1]:
from fastquant import get_pse_data, get_pse_data_multiple
from datetime import datetime

# Define variables

In [2]:
# Define a list of stock symbols
psei = [
    "AEV",
    "AP",
    "AGI",
    "AC",
    "ALI",
    "BPI",
    "BDO",
    "BLOOM",
    "DMC",
    "EMP",
    "FGEN",
    "GLO",
    "GTCAP",
    "ICT",
    "JGS",
    "JFC",
    "LTG",
    "MER",
    "MEG",
    "MPI",
    "MBT",
    "TEL",
    "PGOLD",
    "RLC",
    "RRHI",
    "SMC",
    "SECB",
    "SM",
    "SMPH",
    "URC",
]

# Define start and stop dates
start_date = "2021-01-01"
end_date = datetime.utcnow().strftime("%Y-%m-%d")

# Method 1: Without parallelization

In [3]:
%%time

for symbol in psei:
    get_pse_data(symbol, start_date, end_date)

193it [00:24,  7.72it/s]
193it [00:24,  8.54it/s]
193it [00:25,  8.02it/s]
193it [00:26,  8.21it/s]
193it [00:25,  8.83it/s]
193it [00:25,  8.30it/s]
193it [00:24,  8.73it/s]
193it [00:26,  8.22it/s]
193it [00:24,  5.93it/s]
193it [00:25,  6.94it/s]
193it [00:29,  9.29it/s]
193it [00:26,  8.26it/s]
193it [00:26,  8.53it/s]
193it [00:26,  7.34it/s]
193it [00:26,  7.40it/s]
193it [00:26,  6.06it/s]
193it [00:27,  9.16it/s]
193it [00:23,  8.38it/s]
193it [00:24,  9.32it/s]
193it [00:24,  7.80it/s]
193it [00:25,  7.72it/s]
193it [00:31,  6.21it/s]
193it [00:25,  9.26it/s]
193it [00:24,  7.66it/s]
193it [00:25,  6.85it/s]
193it [00:25,  7.69it/s]
193it [00:26,  6.93it/s]
193it [00:23,  9.43it/s]
193it [00:26,  8.46it/s]
193it [00:27,  8.13it/s]

CPU times: user 49 s, sys: 4.33 s, total: 53.3 s
Wall time: 13min 14s

# Method 2: With parallelization

In [4]:
%%time

data = get_pse_data_multiple(
    psei, n_jobs=-1, start_date=start_date, end_date=end_date
)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

CPU times: user 110 ms, sys: 44.4 ms, total: 155 ms
Wall time: 8min 34s

[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:  8.6min finished

## Accessing individual stock data

In [5]:
data["JFC"].head()

            open  high  low  close  value    volume
dt
2021-01-04   NaN   NaN  NaN  194.4    NaN  625440.0
2021-01-05   NaN   NaN  NaN  194.9    NaN  513300.0
2021-01-06   NaN   NaN  NaN  194.4    NaN  565340.0
2021-01-07   NaN   NaN  NaN  192.6    NaN  802590.0
2021-01-08   NaN   NaN  NaN  192.5    NaN  720470.0